In [9]:
import pandas as pd

file_path = r"X:\Study\Projects\ML-Basics-Project\data\madrid.h5"

dfs = []
with pd.HDFStore(file_path, mode='r') as store:
    for key in store.keys():
        temp_df = store[key]
        temp_df['station_id'] = key  # Keep track of station
        dfs.append(temp_df)

df = pd.concat(dfs, ignore_index=True)
print(df.head())

     CO       NO_2        NOx        O_3        PM10  PM25  SO_2 station_id  \
0  0.37  58.400002  87.150002  34.529999  105.000000   NaN  6.34  /28079001
1  0.42  65.760002  93.830002  27.930000   69.750000   NaN  7.15  /28079001
2  0.32  61.090000  88.089996  32.070000   56.220001   NaN  6.26  /28079001
3  0.23  47.020000  62.930000  42.209999   50.689999   NaN  5.19  /28079001
4  0.19  47.169998  62.630001  48.459999   49.490002   NaN  5.03  /28079001

   NO  BEN  ...  PXY  TCH  TOL  CH4  id  name  address  lon  lat elevation
0 NaN  NaN  ...  NaN  NaN  NaN  NaN NaN   NaN      NaN  NaN  NaN       NaN
1 NaN  NaN  ...  NaN  NaN  NaN  NaN NaN   NaN      NaN  NaN  NaN       NaN
2 NaN  NaN  ...  NaN  NaN  NaN  NaN NaN   NaN      NaN  NaN  NaN       NaN
3 NaN  NaN  ...  NaN  NaN  NaN  NaN NaN   NaN      NaN  NaN  NaN       NaN
4 NaN  NaN  ...  NaN  NaN  NaN  NaN NaN   NaN      NaN  NaN  NaN       NaN

[5 rows x 24 columns]

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3808248 entries, 0 to 3808247
Data columns (total 24 columns):
 #   Column      Dtype
---  ------      -----
 0   CO          float64
 1   NO_2        float64
 2   NOx         float64
 3   O_3         float64
 4   PM10        float64
 5   PM25        float64
 6   SO_2        float64
 7   station_id  object
 8   NO          float64
 9   BEN         float64
 10  EBE         float64
 11  MXY         float64
 12  NMHC        float64
 13  OXY         float64
 14  PXY         float64
 15  TCH         float64
 16  TOL         float64
 17  CH4         float64
 18  id          float64
 19  name        object
 20  address     object
 21  lon         float64
 22  lat         float64
 23  elevation   float64
dtypes: float64(21), object(3)
memory usage: 697.3+ MB
None

In [11]:
col_names = df.columns.tolist()
col_names

['CO',
 'NO_2',
 'NOx',
 'O_3',
 'PM10',
 'PM25',
 'SO_2',
 'station_id',
 'NO',
 'BEN',
 'EBE',
 'MXY',
 'NMHC',
 'OXY',
 'PXY',
 'TCH',
 'TOL',
 'CH4',
 'id',
 'name',
 'address',
 'lon',
 'lat',
 'elevation']

In [7]:
df.describe()

,CO,NO_2,NOx,O_3,PM10,PM25,SO_2,NO,BEN,EBE,...,NMHC,OXY,PXY,TCH,TOL,CH4,id,lon,lat,elevation
count,2.651012e+06,3.787050e+06,2.376275e+06,2.991732e+06,2.861255e+06,816424.000000,2.775960e+06,1.532397e+06,1.041684e+06,1.001724e+06,...,1.085312e+06,315695.000000,315584.000000,1.086441e+06,1.038929e+06,14850.000000,2.400000e+01,24.000000,24.000000,24.000000
mean,5.503838e-01,5.047151e+01,1.093188e+02,3.982616e+01,2.893654e+01,13.738292,1.065539e+01,2.343886e+01,1.257431e+00,1.407927e+00,...,1.873865e-01,2.280912,2.056178,1.435882e+00,5.876842e+00,1.300849,2.807904e+07,-3.679019,40.434616,658.333333
std,5.354483e-01,3.455288e+01,1.102871e+02,3.039249e+01,2.594859e+01,11.214146,9.121267e+00,5.021504e+01,1.910831e+00,2.146109e+00,...,1.539529e-01,2.639609,2.395130,2.332228e-01,8.524460e+00,0.195550,1.799094e+01,0.049324,0.043022,38.295949
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-31.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.020000,2.807900e+07,-3.774611,40.347139,599.000000
25%,2.600000e-01,2.400000e+01,4.000000e+01,1.271000e+01,1.150000e+01,6.450000,5.840000e+00,2.000000e+00,2.100000e-01,3.500000e-01,...,9.000000e-02,0.960000,0.800000,1.300000e+00,1.100000e+00,1.170000,2.807902e+07,-3.711718,40.405489,625.500000
50%,4.000000e-01,4.400000e+01,7.615000e+01,3.486000e+01,2.149000e+01,11.000000,8.150000e+00,6.000000e+00,6.000000e-01,8.800000e-01,...,1.500000e-01,1.320000,1.280000,1.380000e+00,3.160000e+00,1.250000,2.807904e+07,-3.687797,40.431875,661.000000
75%,6.500000e-01,6.958000e+01,1.397000e+02,5.999000e+01,3.775000e+01,17.670000,1.230000e+01,2.000000e+01,1.500000e+00,1.580000e+00,...,2.400000e-01,2.740000,2.510000,1.510000e+00,6.990000e+00,1.400000,2.807905e+07,-3.649968,40.465331,687.000000
max,1.804000e+01,6.286000e+02,2.537000e+03,2.360000e+02,6.950000e+02,506.899994,1.991000e+02,1.146000e+03,6.639000e+01,1.622000e+02,...,9.070000e+00,103.000000,106.000000,1.048000e+01,2.429000e+02,3.920000,2.807906e+07,-3.580031,40.518058,728.000000

In [8]:
df.isnull().sum()

CO            1157236
NO_2            21198
NOx           1431973
O_3            816516
PM10           946993
PM25          2991824
SO_2          1032288
station_id          0
NO            2275851
BEN           2766564
EBE           2806524
MXY           3492833
NMHC          2722936
OXY           3492553
PXY           3492664
TCH           2721807
TOL           2769319
CH4           3793398
id            3808224
name          3808224
address       3808224
lon           3808224
lat           3808224
elevation     3808224
dtype: int64