In [4]:
pip install h5py

Collecting h5pyNote: you may need to restart the kernel to use updated packages.

  Downloading h5py-3.14.0-cp310-cp310-win_amd64.whl.metadata (2.7 kB)
Requirement already satisfied: numpy>=1.19.3 in c:\users\upman\appdata\local\programs\python\python310\lib\site-packages (from h5py) (2.1.2)
Downloading h5py-3.14.0-cp310-cp310-win_amd64.whl (2.9 MB)
   ---------------------------------------- 0.0/2.9 MB ? eta -:--:--
   --------------------- ------------------ 1.6/2.9 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------- 2.9/2.9 MB 11.1 MB/s  0:00:00
Installing collected packages: h5py
Successfully installed h5py-3.14.0

In [17]:
import h5py
import pandas as pd

# ---- Step 1: check what keys are inside the HDF5 file ----
file_path = r"X:\Study\Projects\ML-Basics-Project\data\madrid.h5"

with h5py.File(file_path, "r") as f:
    print("Available keys inside file:", list(f.keys()))

# ---- Step 2: try loading one key with pandas ----
# Replace 'your_key_here' with one of the keys printed above
try:
    df = pd.read_hdf(file_path, key="28079023")
    print(df.head())
except Exception as e:
    print("Error while loading with pandas:", e)

Available keys inside file: ['28079001', '28079003', '28079004', '28079006', '28079007', '28079008', '28079009', '28079011', '28079012', '28079014', '28079015', '28079016', '28079017', '28079018', '28079019', '28079021', '28079022', '28079023', '28079024', '28079025', '28079026', '28079027', '28079035', '28079036', '28079038', '28079039', '28079040', '28079047', '28079048', '28079049', '28079050', '28079054', '28079055', '28079056', '28079057', '28079058', '28079059', '28079060', '28079099', 'master']
                     BEN    CO  EBE  NMHC       NO_2        NOx        O_3  \
date
2001-08-01 01:00:00  NaN  0.18  NaN  0.03  16.290001  17.469999  65.389999
2001-08-01 02:00:00  NaN  0.20  NaN  0.04  22.330000  24.280001  61.279999
2001-08-01 03:00:00  NaN  0.17  NaN  0.03  26.900000  28.950001  59.619999
2001-08-01 04:00:00  NaN  0.17  NaN  0.02  26.959999  28.670000  63.040001
2001-08-01 05:00:00  NaN  0.18  NaN  0.02  32.720001  34.939999  60.000000

                          PM10  SO_2   TCH  TOL
date
2001-08-01 01:00:00  59.669998  7.25  1.22  NaN
2001-08-01 02:00:00  45.490002  7.20  1.24  NaN
2001-08-01 03:00:00  35.980000  7.49  1.23  NaN
2001-08-01 04:00:00  31.480000  8.01  1.23  NaN
2001-08-01 05:00:00  25.540001  8.34  1.23  NaN

In [18]:
df.describe()

,BEN,CO,EBE,NMHC,NO_2,NOx,O_3,PM10,SO_2,TCH,TOL
count,64835.000000,78431.000000,64801.000000,77397.000000,78430.000000,78429.000000,77617.000000,67426.000000,78434.000000,77470.000000,64606.000000
mean,1.403120,0.519293,1.961934,0.166864,59.555709,113.801224,35.175583,32.943446,8.213384,1.462007,7.401754
std,2.447194,0.533907,3.725990,0.162183,34.398505,127.310594,28.758376,29.500755,6.054353,0.253519,10.224858
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.330000,0.270000,0.570000,0.080000,35.192499,43.520000,10.640000,13.040000,5.090000,1.320000,2.190000
50%,0.740000,0.370000,1.000000,0.120000,53.650002,74.699997,27.770000,24.180000,6.340000,1.380000,4.200000
75%,1.500000,0.550000,1.850000,0.200000,76.197498,133.100006,52.840000,42.820000,9.040000,1.520000,8.140000
max,46.830002,10.890000,84.279999,3.140000,450.000000,1626.000000,175.899994,328.299988,111.099998,4.760000,180.800003

In [19]:
df.isnull().sum()

BEN     13909
CO        313
EBE     13943
NMHC     1347
NO_2      314
NOx       315
O_3      1127
PM10    11318
SO_2      310
TCH      1274
TOL     14138
dtype: int64